In [2]:
import numpy as np
import pandas as pd

In [35]:
# Get movie streaming data
base_data = pd.read_csv("data/MoviesOnStreamingPlatforms.csv")

# remove unnamed index column
base_data = base_data.iloc[:, 1:]
# Make all columns lowercase for consistency across datasets
base_data.columns = [x.lower() for x in base_data.columns]
# Rename "Rotten Tomatoes" column to "ratings"
base_data.rename(columns={"rotten tomatoes":"rating"}, inplace=True)
# remove the "/100" component of the Rotten Tomatoes reviews
base_data.rating = base_data.rating.str.replace("/100", "")

In [36]:
base_data.head()

,id,title,year,age,rating,netflix,hulu,prime video,disney+,type
0,1,The Irishman,2019,18+,98,1,0,0,0,0
1,2,Dangal,2016,7+,97,1,0,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7+,95,1,0,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7+,94,1,0,0,0,0
4,5,Roma,2018,18+,94,1,0,0,0,0